// The intent of this file is to store color values as variables that will be used throughout the app
// Example
$primary: #44b1bf;
$warning: #e9a944;
$error: #ce1126;
// We might use the color palette from MUI instead and define our colors there via theming: https://mui.com/customization/palette/
