.innerBox{
    width:200px;
    height: 300px;
    background-color: #E89821;
    border-style: double;
    border-radius: 10px;
    justify-content: center;
}

.container{
    position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4{
    margin-bottom: 0vh;
}

h3{
    margin-top: 0vh;
}

/* Header */

.Header {
    background-color: gray;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
}

#header-title{
    font-size: 25px;
    font-family: Roboto;
    margin: 25px;
    font-weight: 900;
}

.contents {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#link {
    position: relative;
    margin: 25px 10px 10px;
}

#donate {
    position: relative;
    margin: 25px 10px 10px;
}

#help {
    position: relative;
    margin: 25px 10px 10px;
}